
# Virtual Environment
.venv/
venv/
env/


# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/


# IDE
.vscode/
.idea/

# Environment Variables
.env
.env.*


# ChromaDB
chroma_db/


# Uploaded Documents
uploaded_pdfs/


# Logs
*.log

# Test Cache
.pytest_cache/
.coverage
htmlcov/

# Build Files

build/
dist/


# Jupyter

.ipynb_checkpoints/


# Operating System Files
.DS_Store
Thumbs.db
desktop.ini